footer {
    position: relative;
    bottom: -140px;
    background-color: var(--space);
    height: 112px;
}

.boxYellow {
    position: absolute;
    right: 264px;
    background-color: var(--sun);
    width: 94px;
    height: 52px;
    bottom: 28px;
    margin: 0;
    transform: rotate(-56deg);
}

.boxPeach {
    position: absolute;
    right: 176px;
    background-color: var(--peach);
    width: 102px;
    height: 60px;
    bottom: 26px;
    margin: 0;
    transform: rotate(-40deg);
}

.fa-brands {
    color: var(--peach);
    font-size: 1.8rem;
}

.boxSky {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    right: 35px;
    bottom: 0px;
    background-color: var(--sky);
    width: 145px;
    height: 56px;
    margin: 0;
}

@media (min-width: 768px) {
    footer {
        position: static;
        bottom: 0;
    }
}