.geometry {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.circle {
    position: relative;
    background-color: var(--sky);
    width: 356px;
    height: 356px;
    border-radius: 50%;
    background-image: url(/assets/images/spacecake.webp);
    background-size: cover;
    background-position-x: -300px;
    background-repeat: no-repeat;
    margin-bottom: 72px;
}

@keyframes astronautX {
    from {
        transform: translateX(-5%);
    }
    10% {
        transform: translateY(5%);
    }
    20% {
        transform: translateX(-5%);
    }
    30% {
        transform: translateY(5%);
    }
    40% {
        transform: translateY(-5%);
    }
    50% {
        transform: translateX(5%);
    }
    60% {
        transform: translateY(-5%);
    }
    70% {
        transform: translateY(5%);
    }
    80% {
        transform: translateX(-5%);
    }
    90% {
        transform: translateY(5%);
    }
    to {
        transform: translateX(-5%);
    }
}

.circle img {
    position: absolute;
    width: 50%;
    height: 50%;
    top: 120px;
    left: 50px;
    animation: astronautX;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.square {
    width: 306px;
    height: 201px;
    background-color: var(--sky);
    transform: rotate(217deg);
    background-image: url(/assets/images/indexSpace.webp);
    background-position: -30px;
    animation: spaceshipStretch;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes spaceshipRotate {
    from {
        transform: rotate(90deg);
    }
    10% {
        transform: rotate(88deg);
    }
    20% {
        transform: rotate(92deg) translate(0, -25%);
    }
    30% {
        transform: rotate(90deg) translate(0, -55%);
    }
    40% {
        transform: rotate(92deg) translate(0, -55%);
    }
    50% {
        transform: rotate(90deg) translate(0, -55%);
    }
    60% {
        transform: rotate(92deg);
    }
    70% {
        transform: rotate(90deg);
    }
    80%{
        transform: rotate(92deg);
    }
    90% {
        transform: rotate(90deg);
    }
    to {
        transform: rotate(92deg);
    }
}

@keyframes spaceshipStretch {
    from {
        background-size: 85%;
    }
    50% {
        background-size: 90%;
    }
    to {
        background-size: 85%;
    }
    
}

.square img {
    position: absolute;
    width: 90px;
    height: 152px;
    left: 80px;
    top: 30px;
    animation: spaceshipRotate;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.triangle {
    position: relative;
    width: 0;
    height: 0;
    margin-top: 37px;
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
    border-bottom: 300px solid var(--sun);
}

@keyframes sunRotate {
    from {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(5deg);
    }
    to {
        transform: rotate(0deg);
    }
}

@keyframes earthShake {
    from {
        transform: translateX(5%);
        transform: translateY(0);
    }
    50% {
        transform: translateX(0);
        transform: translateY(10%);
    }
    to {
        transform: translateX(5%);
        transform: translateY(0);
    } 
}

@keyframes marsShake {
    from {
        transform: translateX(0);
        transform: translateY(5%);
    }
    50% {
        transform: translateX(10%);
        transform: translateY(0);
    }
    to {
        transform: translateX(0);
        transform: translateY(5%);
    } 
}

.triangle img:nth-child(1) {
    position: absolute;
    width: 160px;
    height: 135px;
    top: 14px;
    left: -66px;
    animation: sunRotate;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.triangle img:nth-child(2) {
    position: absolute;
    width: 150px;
    height: 125px;
    top: 157px;
    left: -185px;
    animation: earthShake;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.triangle img:nth-child(3) {
    position: absolute;
    width: 100px;
    height: 80px;
    top: 217px;
    left: 5px;
    animation: marsShake;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@media (min-width: 768px) {
    main {
        display: grid;
        overflow: hidden;
    }

    .geometry {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
        "triangle . square"
        "triangle circle square";
        top: -150px;
    }

    .circle {
        grid-area: circle;
        width: 300px;
        height: 300px;
        bottom: 0;
        left: -290px;
        margin-bottom: 0;
        background-position-x: -274px;
    }

    .circle img {
        top: 69px;
        left: 4px;
    }

    .square {
        position: relative;
        grid-area: square;
        height: 50%;
        width: 200px;
        transform: rotate(170deg);
        left: -307px;
        bottom: -150px;
    }
    
    @keyframes spaceshipRotate {
        from {
            transform: rotate(180deg);
        }
        10% {
            transform: rotate(178deg);
        }
        20% {
            transform: rotate(182deg) translate(0, -25%);
        }
        30% {
            transform: rotate(180deg) translate(0, -55%);
        }
        40% {
            transform: rotate(182deg) translate(0, -55%);
        }
        50% {
            transform: rotate(180deg) translate(0, -55%);
        }
        60% {
            transform: rotate(182deg);
        }
        70% {
            transform: rotate(180deg);
        }
        80%{
            transform: rotate(182deg);
        }
        90% {
            transform: rotate(180deg);
        }
        to {
            transform: rotate(182deg);
        }
    }

    .triangle {
        grid-area: triangle;
        transform: rotate(190deg);
        border-left: 300px solid transparent;
        border-right: 300px solid transparent;
        border-bottom: 600px solid var(--sun);
        bottom: -100px;
        left: -15%;
    }

    .triangle img:nth-child(1) {
        width: 333px;
        height: 270px;
        top: 343px;
        left: -65px;
    }
    
    .triangle img:nth-child(2) {
        width: 276px;
        height: 206px;
        top: 17px;
        left: -132px;
    }
    
    .triangle img:nth-child(3) {
        width: 159px;
        height: 122px;
        top: 346px;
        left: -248px;
    }
}

@media (min-width: 1240px) {
    .circle {
        width: 500px;
        height: 500px;
        top: 0;
        left: -340px;
        background-position-x: -489px;
    }

    .square {
        width: 400px;
        height: 70%;
        transform: rotate(154deg);
        left: -361px;
        top: 97px;
    }

    .square img {
        width: 188px;
        height: 362px;
        left: 107px;
    }

    .triangle {
        transform: rotate(190deg);
        border-left: 400px solid transparent;
        border-right: 400px solid transparent;
        border-bottom: 800px solid var(--sun);
        top: 86px;
        left: -15%;
    }

    .triangle img:nth-child(1) {
        width: 333px;
        height: 270px;
        top: 561px;
        left: 1px;
    }
    
    .triangle img:nth-child(2) {
        width: 306px;
        height: 237px;
        top: 46px;
        left: -132px;
    }
    
    .triangle img:nth-child(3) {
        width: 225px;
        height: 172px;
        top: 492px;
        left: -248px;
    }
}

@media (min-width: 1440px) {
    .circle {
        width: 500px;
        height: 500px;
        top: 0;
        left: -340px;
    }

    .square {
        width: 400px;
        height: 70%;
        transform: rotate(157deg);
        left: -363px;
        top: 97px;
    }

    .square img {
        width: 188px;
        height: 362px;
        left: 107px;
    }

    .triangle {
        transform: rotate(190deg);
        border-left: 400px solid transparent;
        border-right: 400px solid transparent;
        border-bottom: 800px solid var(--sun);
        top: 86px;
        left: -15%;
    }

    .triangle img:nth-child(1) {
        width: 333px;
        height: 270px;
        top: 579px;
        left: 18px;
    }
    
    .triangle img:nth-child(2) {
        width: 276px;
        height: 214px;
        top: 101px;
        left: -132px;
    }
    
    .triangle img:nth-child(3) {
        width: 232px;
        height: 181px;
        top: 494px;
        left: -267px;
    }
}
