.geometry {
    position: relative;
    top: 100px;
    display: grid;
    justify-content: center;
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "circle"
    "square"
    "triangle";
}

.circle {
    position: absolute;
    background-color: var(--sky);
    width: 353px;
    height: 353px;
    border-radius: 50%;
    top: 27%;
    grid-area: circle;
}

.triangle {
    width: 0;
    height: 0;
    border-left: 174px solid transparent;
    border-right: 174px solid transparent;
    border-bottom: 348px solid var(--sun);
    grid-area: triangle;
}

.square {
    position: absolute;
    width: 280px;
    height: 192px;
    right: 7%;
    top: 42%;
    background-color: var(--peach);
    transform: rotate(-149deg);
    grid-area: square;
}
