.geometry {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 340px;
    height: 340px;
    background-color: var(--sky);
    border-radius: 50%;
}

.circleList ul {
    list-style: none;
    color: var(--space);
}

.square {
    width: 335px;
    height: 320px;
    background-color: var(--peach);
    color: var(--space);
}

.square h1 {
    display: flex;
    justify-content: center;
}

.square ul {
    padding-left: 10px;
}

.square li {
    display: flex;
    list-style: none;
    margin: 0;
}

.square h4 {
    margin: 0;
}

.square p {
    margin: 6px 0 0 8px;
    color: var(--font);
}

.square a {
    color: var(--font);
}

.triangle {
    border-left: 175px solid transparent;
    border-right: 175px solid transparent;
    border-bottom: 350px solid var(--sun);
}

@media (min-width: 768px) {
    .geometry {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        min-height: 90vh;
    }
    
    .circle {
        width: 340px;
        height: 340px;
    }
    
    .square {
        width: 335px;
        height: 320px;
    }
    
    .triangle {
        border-left: 175px solid transparent;
        border-right: 175px solid transparent;
        border-bottom: 350px solid var(--sun);
        transform: rotate(180deg);
    }
}
