.geometry {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 340px;
    height: 340px;
    background-color: var(--sky);
    border-radius: 50%;
}

.circleList ul {
    list-style: none;
    color: var(--font);
}

.square {
    width: 335px;
    height: 320px;
    background-color: var(--peach);
    color: var(--font);
}

.square h1 {
    display: flex;
    justify-content: center;
}

.square ul {
    padding-left: 10px;
}

.square li {
    display: flex;
    list-style: none;
    margin: 0;
}

.square h4 {
    margin: 0;
}

.square p {
    margin: 6px 0 0 8px;
    color: var(--font);
}

.square a {
    color: var(--font);
}

.triangle {
    border-left: 175px solid transparent;
    border-right: 175px solid transparent;
    border-bottom: 350px solid var(--sun);
}

@media (min-width: 768px) {
    .geometry {
        min-height: 88vh;
    }

    .circle {
        position: absolute;
        bottom: 320px;
        left: 250px;
    }
    
    .circleList ul {
        transform: rotate(10deg);
    }

    .square {
        position: absolute;
        bottom: 0;
        left: 77px;
    }

    .triangle {
        position: absolute;
        border-left: 175px solid transparent;
        border-right: 175px solid transparent;
        border-bottom: 350px solid var(--sun);
        bottom: -11px;
        left: 462px;
        transform: rotate(160deg);
    }
}

    @media (min-width: 1024px) {
        .circle {
            position: absolute;
            width: 340px;
            height: 340px;
            bottom: 350px;
            left: 380px;
        }
        
        .square {
            position: absolute;
            width: 365px;
            height: 350px;
            bottom: 0;
            left: 180px;
        }
        
        .triangle {
            position: absolute;
            border-left: 175px solid transparent;
            border-right: 175px solid transparent;
            border-bottom: 350px solid var(--sun);
            transform: rotate(160deg);
            bottom: -11px;
            left: 595px;
    }
}

    @media (min-width: 1240px) {
        .circle {
            position: absolute;
            width: 340px;
            height: 340px;
            bottom: 350px;
            left: 380px;
        }
        
        .circleList ul {
            transform: rotate(-10deg);
        }

        .square {
            position: absolute;
            width: 365px;
            height: 350px;
            bottom: 0;
            left: 220px;
        }
        
        .triangle {
            position: absolute;
            border-left: 250px solid transparent;
            border-right: 250px solid transparent;
            border-bottom: 500px solid var(--sun);
            transform: rotate(155deg);
            bottom: -24px;
            left: 667px;
    }
}
