.vrWalkInfo {
    display: flex;
    flex-direction: column;
    background-color: var(--fontBg);
    height: 400px;
    width: 90vw;
    color: var(--font);
    margin: 16px auto 0 auto;
    z-index: 1;
}

.vrWalkInfo h1 {
    margin: 0;
    align-self: center;
}

.vrWalkInfo p {
    margin: 8px;
}

.vrWalk {
    background-image: url(/assets/images/mobile/exhibitionBgMobile.webp);
    background-repeat: repeat;
    position: relative;
    min-height: 600px;
}

/* Mars */
.vrWalk img:nth-child(1) {
    position: absolute;
    width: 120px;
    left: 10%;
    bottom: 450px;
    animation: mars;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes mars {
    from {
        transform: rotate(5deg);
    }
    50% {
        transform: rotate(0);
    }
    to {
        transform: rotate(5deg);
    }
}

/* Mercury */
.vrWalk img:nth-child(4) {
    position: absolute;
    width: 150px;
    left: 40%;
    bottom: 460px;
    animation: mercury;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes mercury {
    from {
        transform: translateY(0);
    }
    25% {
        transform: translateX(2%);
    }
    50% {
        transform: translateY(2%);
    }
    75% {
        transform: translateX(1%);
    }
    to {
        transform: translateY(0);
    }
}

/* Astronaut */
.vrWalk img:nth-child(3) {
    position: absolute;
    width: 180px;
    left: 2%;
    bottom: 250px;
}

/* Venus */
.vrWalk img:nth-child(2) {
    position: absolute;
    width: 230px;
    left: 40vw;
    bottom: 260px;
    animation: venus;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes venus {
    from {
        transform: translateY(2%);
    }
    25% {
        transform: translateX(2%);
    }
    50% {
        transform: translateY(1%);
    }
    75% {
        transform: translateX(1%);
    }
    to {
        transform: translateY(2%);
    }
}

/* Sun */
.vrWalk img:nth-child(5) {
    position: absolute;
    width: 280px;
    left: 8%;
    bottom: 50px;
    animation: sun;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes sun {
    from {
        transform: translateY(2%);
    }
    50% {
        transform: translateY(0);
    }
    to {
        transform: translateY(2%);
    }
}

footer {
    z-index: 10;
}

@media (max-width: 359px) {
    .vrWalkInfo {
        height: 550px;
    }

    
}

@media (min-width: 580px) {
    .vrWalkInfo {
        height: 300px;
    }

    /* Mars */
    .vrWalk img:nth-child(1) {
        left: 10%;
    }
    
    /* Venus */
    .vrWalk img:nth-child(2) {
        left: 50%;
    }
    

    /* Sun */
    .vrWalk img:nth-child(5) {
        left: 18%;
    }
}

@media (min-width: 768px) {
    /* Mars */
    .vrWalk img:nth-child(1) {
        left: 10%;
    }
    
    /* Venus */
    .vrWalk img:nth-child(2) {
        left: 45%;
    }

    /* Mercury */
    .vrWalk img:nth-child(4) {
        left: 40%;
    }

    /* Sun */
    .vrWalk img:nth-child(5) {
        left: 20%;
    }
}

@media (min-width: 1024px) {
    .vrWalk {
        min-height: 800px;
    }

    .vrWalkInfo {
        position: absolute;
        display: block;
        width: 400px;
        height: 400px;
        right: 16px;
        top: 92px;
    }

    /* Mars */
    .vrWalk img:nth-child(1) {
        width: 200px;
        left: 8%;
        bottom: 600px;
    }

    /* Mercury */
    .vrWalk img:nth-child(4) {
        width: 210px;
        left: 40%;
        bottom: 500px;
    }
    
    /* Astronaut */
    .vrWalk img:nth-child(3) {
        width: 400px;
        bottom: 200px;
    }


    /* Venus */
    .vrWalk img:nth-child(2) {
        width: 350px;
        left: 60%;
        bottom: 180px;
    }

    /* Sun */
    .vrWalk img:nth-child(5) {
        width: 500px;
        left: 20%;
        bottom: -50px;
    }
}

@media (min-width: 1240px) {
    .vrWalk {
        min-height: 82vh;
    }

    /* Mars */
       .vrWalk img:nth-child(1) {
        left: 8vw;
    }
    
    /* Venus */
    .vrWalk img:nth-child(2) {
        width: 400px;
        left: 60vw;
    }

    /* Mercury */
    .vrWalk img:nth-child(4) {
        width: 250px;
        left: 40%;
    }

    /* Sun */
    .vrWalk img:nth-child(5) {
        width: 600px;
        left: 20vw;
    }
}

@media (min-width: 1540px) {
    /* Mars */
    .vrWalk img:nth-child(1) {
        width: 300px;
        left: 20vw;
        bottom: 550px;
    }

   /* Venus */
    .vrWalk img:nth-child(2) {
        width: 400px;
        left: 70vw;
        bottom: 150px;
    }
    
    /* Astronaut */
    .vrWalk img:nth-child(3) {
        width: 400px;
        bottom: 300px;
    }

    /* Mercury */
    .vrWalk img:nth-child(4) {
        width: 300px;
        left: 50vw;
        bottom: 450px;
    }

    /* Sun */
    .vrWalk img:nth-child(5) {
        width: 600px;
        left: 20vw;
    }
}
