main {
    height: 80vh;
    overflow: hidden;
}

.infoBox {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: var(--fontBg);
    height: 300px;
    width: 90vw;
    color: var(--font);
    margin: 8px auto 0 auto;
    z-index: 1;
}

.infoBox h1 {
    margin: 0;
    text-align: center;
}

#infoRocket {
    display: none;
}

#infoMoon {
    display: none;
}

#infoRocket h2, #infoMoon h2 {
    text-align: center;
    margin: 8px 0 0 0;
}

#infoRocket p, #infoMoon p {
    margin: 8px;
}

.moonLandingBox {
    position: relative;
    height: 750px;
    background-image: url(/assets/images/mobile/exhibitionBgMobile.webp);
    z-index: 0;
}

@keyframes landing {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(170px);
    }
}

#landingSpaceship {
    display: flex;
    justify-content: center;
    animation: landing;
    animation-duration: 10s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    z-index: 1;
}

#landingSpaceship img {
    width: 80px;
}

#landingMoon {
    display: flex;
    justify-content: center;
    height: 400px;
    width: 100vw;
    position: absolute;
    bottom: 150px;
    z-index: -1;
}

#landingMoon img {
    width: 360px;
    height: 370px;
}

@media (min-width: 768px) {
    .infoBox {
        position: absolute;
        display: block;
        width: 300px;
        height: 300px;
        background-color: var(--fontBg);
        right: 16px;
        top: 114px;
    }
    
    @keyframes landing {
        from {
            transform: translateY(0);
        }
        to {
            transform: translateY(380px);
        }
    }

    #landingSpaceship {
        display: flex;
        justify-content: left;
        padding-left: 45%;
    }

    #landingSpaceship img {
        width: 100px;
    }
    
    #landingMoon {
        left: -2px;
        height: 280px;
        bottom: 0;
    }

    #landingMoon img {
        width: 90vw;
        height: 280px;
    }
}

@media (min-width: 1024px) {
    #landingSpaceship {
        padding-left: 41%;
    }
    
    #landingMoon {
        height: 280px;
        width: 90vw;
        bottom: 0;
    }
}

@media (min-width: 1440px) {
    #landingSpaceship {
        display: flex;
        justify-content: left;
        padding-left: 28%;
    }
    
    #landingMoon {
        display: flex;
        justify-content: left;
    }

    #landingMoon img {
        width: 70%;
    }
}