.infoBox {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: var(--fontBg);
    height: 400px;
    width: 90vw;
    color: var(--font);
    margin: 8px auto 0 auto;
}

.infoBox h1 {
    margin: 0;
    text-align: center;
}

#infoRocket {
    display: none;
}

#infoMoon {
    display: none;
}

#infoRocket h2, #infoMoon h2 {
    text-align: center;
    margin: 8px 0 0 0;
}

#infoRocket p, #infoMoon p {
    margin: 8px;
}

.moonLandingBox {
    position: relative;
    height: 750px;
}

@keyframes landing {
    from {
        transform: translateY(25vh);
    }
    to {
        transform: translateY(0);
    }
}

#landingSpaceship {
    display: flex;
    justify-content: center;
    animation: landing;
    animation-duration: 10s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

#landingSpaceship img {
    width: 20%;
    z-index: -1;
}

#landingMoon {
    height: 270px;
    width: 100vw;
    position: absolute;
    left: 10px;
    bottom: 0;
}

#landingMoon img {
    width: 450px;
    height: 250px;
    z-index: -2;
}

@media (min-width: 425px) {
    @keyframes landing {
        from {
            transform: translateY(32vh);
        }
        to {
            transform: translateY(0);
        }
    }
}

@media (min-width: 768px) {
    .infoBox {
        position: absolute;
        display: block;
        width: 300px;
        height: 595px;
        background-color: var(--fontBg);
        right: 16px;
        top: 114px;
    }
    
    @keyframes landing {
        from {
            transform: translateY(60vh);
        }
        to {
            transform: translateY(0);
        }
    }

    #landingSpaceship {
        display: flex;
        justify-content: left;
        padding-left: 40%;
    }

    #landingSpaceship img {
        width: 20%;
    }
    
    #landingMoon {
        height: 178px;
    }

    #landingMoon img {
        width: 90vw;
        height: 280px;
    }
}

@media (min-width: 1024px) {
    .infoBox {
        position: absolute;
        display: block;
        width: 400px;
        height: 595px;
        background-color: var(--fontBg);
        right: 16px;
        top: 114px;
    }
    
    @keyframes landing {
        from {
            transform: translateY(0);
        }
        to {
            transform: translateY(260px);
        }
    }

    #landingSpaceship {
        display: flex;
        justify-content: left;
        padding-left: 23%;
    }

    #landingSpaceship img {
        width: 20%;
    }
    
    #landingMoon {
        margin-top: 0;
        position: absolute;
        bottom: -276px;
        left: 0;
        width: 90vw;
    }
    
    #landingMoon  img {
        width: 60%;
        bottom: -360px;
    }
}

@media (min-width: 1440px) {
    .infoBox {
        position: absolute;
        display: block;
        width: 400px;
        height: 595px;
        background-color: var(--fontBg);
        right: 16px;
        top: 114px;
    }
    
    @keyframes landing {
        from {
            transform: translateY(0);
        }
        to {
            transform: translateY(260px);
        }
    }

    #landingSpaceship {
        display: flex;
        justify-content: left;
        padding-left: 30%;
    }

    #landingSpaceship img {
        width: 15%;
    }
    
    #landingMoon {
        display: flex;
        justify-content: left;
    }

    #landingMoon  img {
        width: 70%;
        bottom: -700px;
    }
}