* {
    font-family: 'Orbitron', sans-serif;
}

header {
    height: 95px;
}

nav {
    display: flex;
    width: 100vw;
    border-bottom: 1px solid var(--sky);
}

header ul {
   list-style: none;
   display: none; 
}

header li {
    display: flex;
    padding: 0 0.5rem;
    font-size: 1.1rem;
    align-items: center;
}

header a {
    color: var(--font);
    text-decoration: none;
}

.navbar {
    position: fixed;
    display: flex;
    background-color: var(--space);
    z-index: 10;
}

.navbarLogo img {
    width: 60px;
    height: 70px;
    margin: 10px 0 10px 35px;
}

.navbarQuestion {
    display: flex;
    margin: 10px 35px 10px auto;
}

.fa-circle-question {
    font-size: 4rem;
}

@media (min-width: 768px) {
    header ul {
        display: flex;
    }

    .navbarQuestion {
        display: none;
    }
}

@media (min-width: 1240px) {
    header li {
        font-size: 1.8rem;
        padding: 0 1rem;
    }

    header li:nth-child(1) {
        margin-left: 80px;
    }
}
