.solarSystemBox {
    position: relative;
    min-height: 100vh;
}

.solarInfo {
    margin: 20px;
    min-width: 320px;
    height: 30vh;
    background-color: var(--fontBg);
}

.solarInfo h1 {
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    font-size: 2rem;
}

.solarInfo p {
    font-family: 'Expletus Sans', sans-serif;
    text-align: center;
    font-size: 1rem;
}

.sunText {
    display: none;
}

.mercuryText {
    display: none;
}

.cloudsMobile img {
    position: absolute;
    width: 100vw;
}

.cloudsMobile img:nth-child(1) {
    z-index: 7;
    bottom: 0;
}

.cloudsMobile img:nth-child(2) {
    z-index: 5;
    bottom: 0;
}

.cloudsMobile img:nth-child(3) {
    z-index: 3;
    bottom: 0;
}

.cloudsMobile img:nth-child(4) {
    z-index: 1;
    bottom: 0;
}

.cloudsDesktop {
    display: none;
}

.planets img {
    position: absolute;
}

/* Sun */
.planets img:nth-child(1) {
    height: 22%;
    top: 30%;
    animation: sun;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes sun {
    from {
        transform: translateY(2%);
    }
    50% {
        transform: translateY(0);
    }
    to {
        transform: translateY(2%);
    }
}

.planets img:nth-child(1) :active ~ .sunText {
    display: inline-block;
}

/* Mercury */
.planets img:nth-child(2) {
    height: 10%;
    top: 50%;
    left: 76px;
    animation: mercury;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes mercury {
    from {
        transform: translateY(0);
    }
    25% {
        transform: translateX(2%);
    }
    50% {
        transform: translateY(2%);
    }
    75% {
        transform: translateX(1%);
    }
    to {
        transform: translateY(0);
    }
}

/* Venus */
.planets img:nth-child(3) {
    height: 15%;
    top: 55%;
    left: 98px;
    animation: venus;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes venus {
    from {
        transform: translateY(2%);
    }
    25% {
        transform: translateX(2%);
    }
    50% {
        transform: translateY(1%);
    }
    75% {
        transform: translateX(1%);
    }
    to {
        transform: translateY(2%);
    }
}

/* Earth */
.planets img:nth-child(4) {
    height: 15%;
    top: 60%;
    left: -16px;
    z-index: 4;
    animation: earth;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes earth {
    from {
        transform: rotate(2deg);
    }
    50% {
        transform: rotate(0);
    }
    to {
        transform: rotate(2deg);
    }
}

/* Mars */
.planets img:nth-child(5) {
    height: 13%;
    top: 70%;
    left: 160px;
    z-index: 8;
    animation: mars;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes mars {
    from {
        transform: rotate(5deg);
    }
    50% {
        transform: rotate(0);
    }
    to {
        transform: rotate(5deg);
    }
}

footer {
    z-index: 10;
}

@media (min-width: 768px) {
    .cloudsMobile {
        display: none;
    }
    
    .cloudsDesktop {
        display: inline-block;
        width: 100vw;
    }

    .cloudsDesktop img {
        position: absolute;
        width: 100vw;
    }
    
    .cloudsDesktop img:nth-child(1) {
        z-index: 7;
        bottom: 0;
        height: 200px;
    }
    
    .cloudsDesktop img:nth-child(2) {
        z-index: 5;
        bottom: 97px;
        height: 200px;
    }
    
    .cloudsDesktop img:nth-child(3) {
        z-index: 3;
        bottom: 121px;
        height: 300px;
    }
    
    .cloudsDesktop img:nth-child(4) {
        z-index: 1;
        bottom: 157px;
    }

    .planets img {
        position: absolute;
    }
    
    /* Sun */
    .planets img:nth-child(1) {
        height: 25%;
        top: 30%;
    }
    
    /* Mercury */
    .planets img:nth-child(2) {
        height: 18%;
        top: 40%;
        left: 35%;
    }
    
    /* Venus */
    .planets img:nth-child(3) {
        height: 25%;
        top: 45%;
        left: 10%;
        z-index: 3;
    }
    
    /* Earth */
    .planets img:nth-child(4) {
        height: 25%;
        top: 50%;
        left: 45%;
        z-index: 4;
    }
    
    /* Mars */
    .planets img:nth-child(5) {
        height: 20%;
        top: 65%;
        left: 60%;
        z-index: 8;
    }
    
}

@media (min-width: 1240px) {
     .cloudsMobile {
        display: none;
    }
    
    .cloudsDesktop {
       display: inline-block;
    }

    .cloudsDesktop img {
        position: absolute;
        width: 100vw;
    }
    
    .cloudsDesktop img:nth-child(1) {
        z-index: 7;
        bottom: 0;
        height: 200px;
    }
    
    .cloudsDesktop img:nth-child(2) {
        z-index: 5;
        bottom: 97px;
        height: 200px;
    }
    
    .cloudsDesktop img:nth-child(3) {
        z-index: 3;
        bottom: 121px;
        height: 300px;
    }
    
    .cloudsDesktop img:nth-child(4) {
        z-index: 1;
        bottom: 157px;
    }

    .planets img {
        position: absolute;
    }
    
    /* Sun */
    .planets img:nth-child(1) {
        height: 30%;
    }
    
    /* Mercury */
    .planets img:nth-child(2) {
        height: 22%;
        top: 35%;
        left: 40%;
    }
    
    /* Venus */
    .planets img:nth-child(3) {
        height: 40%;
        top: 45%;
        left: 45%;
        z-index: 3;
    }
    
    /* Earth */
    .planets img:nth-child(4) {
        height: 40%;
        top: 60%;
        left: 5%;
        z-index: 4;
    }
    
    /* Mars */
    .planets img:nth-child(5) {
        height: 25%;
        top: 75%;
        left: 60%;
        z-index: 8;
    }
    
}