.solarSystemBox {
    position: relative;
    min-height: 100vh;
}

.solarInfo {
    margin: 20px;
    min-width: 320px;
    height: 30vh;
    background-color: var(--sky);
}

.sunText {
    display: none;
}

.mercuryText {
    display: none;
}

.cloudsMobile img {
    position: absolute;
    width: 100vw;
}

.cloudsMobile img:nth-child(1) {
    z-index: 7;
    bottom: 0;
}

.cloudsMobile img:nth-child(2) {
    z-index: 5;
    bottom: 0;
}

.cloudsMobile img:nth-child(3) {
    z-index: 3;
    bottom: 0;
}

.cloudsMobile img:nth-child(4) {
    z-index: 1;
    bottom: 0;
}

.cloudsDesktop {
    display: none;
}

.planets img {
    position: absolute;
}

/* Sun */
.planets img:nth-child(1) {
    height: 22%;
    top: 404px;
    animation: sun;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes sun {
    from {
        transform: translateY(2%);
    }
    50% {
        transform: translateY(0);
    }
    to {
        transform: translateY(2%);
    }
}

.planets img:nth-child(1) :active ~ .sunText {
    display: inline-block;
}

/* Mercury */
.planets img:nth-child(2) {
    height: 10%;
    left: 76px;
    top: 696px;
    animation: mercury;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes mercury {
    from {
        transform: translateY(0);
    }
    25% {
        transform: translateX(2%);
    }
    50% {
        transform: translateY(2%);
    }
    75% {
        transform: translateX(1%);
    }
    to {
        transform: translateY(0);
    }
}

/* Venus */
.planets img:nth-child(3) {
    height: 15%;
    left: 98px;
    top: 716px;
    animation: venus;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes venus {
    from {
        transform: translateY(2%);
    }
    25% {
        transform: translateX(2%);
    }
    50% {
        transform: translateY(1%);
    }
    75% {
        transform: translateX(1%);
    }
    to {
        transform: translateY(2%);
    }
}

/* Earth */
.planets img:nth-child(4) {
    height: 15%;
    z-index: 4;
    left: -16px;
    top: 885px;
    animation: earth;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes earth {
    from {
        transform: rotate(2deg);
    }
    50% {
        transform: rotate(0);
    }
    to {
        transform: rotate(2deg);
    }
}

/* Mars */
.planets img:nth-child(5) {
    height: 13%;
    z-index: 8;
    left: 160px;
    top: 976px;
    animation: mars;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes mars {
    from {
        transform: rotate(5deg);
    }
    50% {
        transform: rotate(0);
    }
    to {
        transform: rotate(5deg);
    }
}

footer {
    z-index: 10;
}

@media (min-width: 768px) {
    .cloudsMobile {
        display: none;
    }
    
    .cloudsDesktop {
        display: inline-block;
    }

    .cloudsDesktop img {
        position: absolute;
        width: 100vw;
    }
    
    .cloudsDesktop img:nth-child(1) {
        z-index: 7;
        bottom: 0;
        height: 200px;
    }
    
    .cloudsDesktop img:nth-child(2) {
        z-index: 5;
        bottom: 97px;
        height: 200px;
    }
    
    .cloudsDesktop img:nth-child(3) {
        z-index: 3;
        bottom: 121px;
        height: 300px;
    }
    
    .cloudsDesktop img:nth-child(4) {
        z-index: 1;
        bottom: 157px;
    }

    .planets img {
        position: absolute;
    }
    
    /* Sun */
    .planets img:nth-child(1) {
        height: 25%;
        top: 404px;
    }
    
    /* Mercury */
    .planets img:nth-child(2) {
        height: 18%;
        left: 407px;
        top: 508px;
    }
    
    /* Venus */
    .planets img:nth-child(3) {
        height: 25%;
        left: 50px;
        z-index: 3;
        top: 620px;
    }
    
    /* Earth */
    .planets img:nth-child(4) {
        height: 25%;
        z-index: 4;
        left: 379px;
        top: 802px;
    }
    
    /* Mars */
    .planets img:nth-child(5) {
        height: 20%;
        z-index: 8;
        left: -24px;
        top: 974px;
    }
    
}

@media (min-width: 1240px) {
     .cloudsMobile {
        display: none;
    }
    
    .cloudsDesktop {
       display: inline-block;
    }

    .cloudsDesktop img {
        position: absolute;
        width: 100vw;
    }
    
    .cloudsDesktop img:nth-child(1) {
        z-index: 7;
        bottom: 0;
        height: 200px;
    }
    
    .cloudsDesktop img:nth-child(2) {
        z-index: 5;
        bottom: 97px;
        height: 200px;
    }
    
    .cloudsDesktop img:nth-child(3) {
        z-index: 3;
        bottom: 121px;
        height: 300px;
    }
    
    .cloudsDesktop img:nth-child(4) {
        z-index: 1;
        bottom: 157px;
    }

    .planets img {
        position: absolute;
    }
    
    /* Sun */
    .planets img:nth-child(1) {
        height: 40%;
        top: 348px;
    }
    
    /* Mercury */
    .planets img:nth-child(2) {
        height: 22%;
        left: 634px;
        top: 587px;
    }
    
    /* Venus */
    .planets img:nth-child(3) {
        height: 40%;
        left: 641px;
        z-index: 3;
        top: 648px;
    }
    
    /* Earth */
    .planets img:nth-child(4) {
        height: 40%;
        z-index: 4;
        left: 39px;
        top: 760px;
    }
    
    /* Mars */
    .planets img:nth-child(5) {
        height: 25%;
        z-index: 8;
        left: 472px;
    }
    
}